<!DOCTYPE html>
<html>
    <head>
        <title>Expandy SDK</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div class="view" view-name="loader">
            <h1 id="loader_text">Czekaj...</h1>
        </div>
        <script src="/static/js/main.js"></script>
    </body>
</html>